@mixin responsiveMargins{
    @include xs{
        font-size: $font-size-xs;  
        padding:$space-sm;
    }
    @include md{
        font-size: $font-size-sm;  
        padding:$space-md;
    }
}


.layout-header-checkout__logo-image__container{
    height:$layout-header-logo-height;
    width: $layout-header-logo-width;

    @include xs{
        display: none;
    }
    @include md{
        display: block;
        margin-left: $margin-lg;
    }
    @include lg{
        margin:0 $margin-xxxl;
    }
}

.layout-checkout-margins_left-right{
    
    @include xs{
        padding: $space-md $space-xxs;
    }
    @include md{
        margin:0 $margin-lg;
        padding: $space-lg $space-xl;
        padding-top:$margin-sm;
    }
    @include lg{
        margin:0 $margin-xxxl;
        padding: $space-lg $space-xl;
        padding-top:$margin-lg;
    }
}

.checkout-content{
    font-weight: $font-weight-light;
    text-transform: uppercase;

    #{&}-header__info{

        @include xs{
            display: none;
            margin-bottom: $margin-xs;
            font-size: $font-size-sm;
        }
        @include md{
            display: block;
            margin-bottom: $margin-xs;
        }
        @include lg{
            margin-bottom: $margin-sm;
            font-size: $font-size-md;
        }
    }
    #{&}-delivery-group{

        @include xs{
            width:100%;
        }
        @include md{
            width:70%;
        }
        @include lg{
            width:50%;
        }
    }

    #{&}-delivery-group__options{
        display: flex;
        border:0.5px solid black ;
        border-right: none ;
    }

    #{&}-delivery-group__option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:100%;
        border-right: 0.5px solid black;
        cursor:pointer;

        @include xs{
            font-size: $font-size-xxs;  
            padding: $space-sm;
        }
        @include md{
            font-size: $font-size-xs;  
            padding: $space-sm;
        }
    }

    #{&}-delivery-group__address{
        border:0.5px solid black;
        border-top: none;

        @include xs{
            font-size: $font-size-xs;  
            padding:$space-sm;
        }
        @include md{
            font-size: $font-size-sm;  
            padding:$space-md;
        }

    }

    #{&}-delivery-group__address-modify{
        text-transform: capitalize;
        text-decoration: underline;

        &:hover{
            cursor: pointer;
        }

        @include xs{
            font-size: $font-size-xs;  
            padding-top:$space-xs;
        }
        @include md{
            font-size: $font-size-xs;  
            padding-top:$space-sm;
        }
        @include lg{
            font-size: $font-size-sm;  
            padding-top:$space-md;
        }
    }
}

.selection-box__icon{
    width: 24px;
}

.checkout-form{
    border:0.5px solid black;
    
    @include xs{
        margin-top: $margin-sm;
    }
    @include md{
        margin-top: $margin-sm;
    }
    @include lg{
        margin-top: $margin-lg;
    }

    #{&}__title{

       @include responsiveMargins();
    }
    #{&}__carousel{
        overflow: hidden;
        
    }
    #{&}__carousel-items{
        display: flex;
        overflow-x:auto;
       -webkit-overflow-scrolling: touch;

       &::-webkit-scrollbar {
        display: none;
      }

    }
    #{&}__carousel-item{
        width:calc(100%/3.2);
        border:0.5px solid black;
        border-left:none;
        flex-shrink: 0;        
    }
    #{&}__media{
        position:relative;
        padding-bottom:150%;
    }
    #{&}__media-image{
        position:absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #{&}__progress-bar{
        width: 100%;
        height: 3px;
        background-color: rgba(229, 229, 229,1);
        position:relative;

        @include xs{
            margin-top:$space-sm;
        }
        @include md{
            margin-top:$space-md;
        }
    }
    #{&}__progress-bar-completed{
        width: 80%;
        height: 3px;
        background-color: rgba(51, 51, 51,1);
        position:absolute;

    }
    #{&}__options{
        @include responsiveMargins();
    }
    #{&}__option{
        width: 100%;
    }
    #{&}__option-delivery-details{
        display: flex;
        justify-content: space-between;
    }
    
    #{&}__option-delivery-text{
        text-transform:initial;
        margin-bottom: $space-lg;
        padding-left:$space-xxl;

    }
}

.radius-button__container {
    display: block;
    position: relative;
    padding-left: $space-xxl;
    margin-bottom: $space-xs;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .radius-button__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: none;
    border:1px solid rgba(51, 51, 51,1);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radius-button__container:hover input ~ .checkmark {
    background-color: #f3eded;
  }
  
  /* When the checkbox is checked, add a black background */
  .radius-button__container input:checked ~ .checkmark {
    background-color: rgba(51, 51, 51,1);
    border: 2px solid white;
    box-shadow: 0 0 0 1px rgba(51, 51, 51,1);

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .radius-button__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .radius-button__container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .radius-button__container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .full-area{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: flex-end;
    
    #{&}-hidden{
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.7);
    position:absolute;
    top:0;
    left:0;    
  }
}

  .lateral-box{
    width:50%;
    height: 100%;
    border-left: 1px solid black;
    background-color: white;
    z-index: 200;
    display: flex;
    flex-direction: column;
    position:fixed;

    @include xs{
        width: 100%;
    }
    @include md{
        width: 50%;
        max-width: 500px;
    }

    #{&}__close-button{
        margin-left: auto;
        font-weight: 400;
        cursor: pointer;
 
        @include xs{
            margin-top:$margin-xxs;
            margin-right:$margin-xxs;
            font-size: $font-size-md;
        }
        @include md{
            margin-top:$margin-xs;
            margin-right:$margin-xs;
            font-size: $font-size-lg;
        }
        @include lg{
            margin-top:$margin-sm;
            margin-right:$margin-sm;
            font-size: $font-size-xl;
        }
    }

    #{&}__title{

        @include xs{
            margin-top: $margin-xs;
            font-size:$font-size-sm;
            margin-left:$margin-xxs;
            margin-bottom:$margin-xxs;

        }
        @include md{
            margin-top: $margin-sm;
            font-size:$font-size-md;
            margin-left:$margin-xs;
            margin-bottom:$margin-xs;

        }
        @include lg{
            margin-top: $margin-xl;
            font-size:$font-size-lg;
            margin-left:$margin-sm;
            margin-bottom:$margin-sm;

        }
      }
    #{&}__address-container{
        border-top:1px solid black;
        border-bottom:1px solid black;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        position: relative;

        &:hover{
            background-color: #f3eded;
        }
    }
    #{&}__address-container__close-button{
        cursor: pointer;
        user-select: none;
        position: absolute;
        top:0;
        right:8px;
        padding:2px;

        &:hover{
            color: #f83333;
        }
    }
    #{&}__address-forum{
        border-top:1px solid black;
        border-bottom:1px solid black;

    }
    #{&}__add-address{
        margin-top: auto;
        margin-bottom:$space-xs;
        width: 100%;
        text-align: center;
        padding:$space-xxs 0;
        border: 1px solid black;
        border-left: none;
        cursor: pointer;

    }

  }

  .address-form{
    display: flex;
    flex-direction: column;
    padding: $space-xs;
    padding-bottom: $space-md;

    #{&}__title{
        margin-top:$space-xs;
        margin-bottom:$space-xxs;
    }
  }

  .order-details{
    text-transform: initial;
    font-weight: 400;
    color: rgba(0,0,0,0.9);

    @include xs{
        font-size: $font-size-xxs;

    }
    @include md{
        font-size: $font-size-xs;

    }
    @include lg{
        font-size: $font-size-xs;

    }

    #{&}__title{
        font-weight: bold;
        
        @include xs{
            margin-bottom: $space-xs;
        }
        @include md{
            margin-bottom: $space-md;
        }
        @include lg{
            margin-bottom: $space-lg;
        }
    }

    #{&}__grid-products{
        display: grid;
        grid-template-columns: repeat(5, 90px);
        text-transform:uppercase;

        @include xs{
            grid-gap:1em 1em;
            grid-template-columns: repeat(5, 70px);
            font-size: $font-size-xxxs;
        }
        @include md{
            grid-gap:1em 2em;
            grid-template-columns: repeat(5, 90px);
            font-size: $font-size-xs;

        }
        @include lg{
            grid-gap:1em 3em;
        }

    }

    #{&}__grid-products__table{
        border-top: 1px solid black;
        border-bottom: 1px solid black;

    }
    #{&}__grid-products__product-design{
        border-top: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid black;
        
    }
  }