.product{
    
    display: flex;
    flex-direction: column;
    border:1px solid black;
    height: 100%;
    //width: calc((100% - var(--line-width) * (var(--grid-num-columns) - 1)) / var(--grid-num-columns));
    width: 100%;

    #{&}-image-container{
        width:100%;
        display: block;
        padding-bottom: 130%;
        max-height: 600px;
        position: relative;
    }
    #{&}-image{
        width:100%;
        height:100%;
        object-fit: cover;
        position:absolute;
        //object-position: center;
    }
    #{&}-grid-product__add-to-cart{
        user-select: none;
        right:0;
        left:0;
        bottom:0;
        width:100%;
        display: flex;
        justify-content: center;
        position: absolute;
    }
    #{&}-add-to-cart__button{
        display:none;
        appearance: none;
        border: none;
        outline: none;
        background:none;
        
    }

    #{&}-add-to-cart__button-shade{
        background-color: rgba(255, 255, 255, 0.4);
        margin: 12px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        align-items: center;
        display: flex;
        justify-content: center;

        &:hover{
            cursor: pointer;
            user-select: none;
        }
    }

    #{&}-add-to-cart__button-icon{
        height: 9px;
        width: 9px;
        fill: black;
    }

}


.product-size{
    width:100%;
    height:100%;
    background:white;
    position:relative;


    #{&}-grid{
        height: 100%;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        border-bottom:1px solid black;
        border-top:1px solid black;

    }
    #{&}-box{
        text-align: center;
        font-size: $font-size-sm;
        text-transform: uppercase;
        user-select: none;

        &:hover{
            background-color: rgba(59, 47, 47, 0.3);
            cursor: pointer;
        }
    }
    #{&}-border_right{
        border-right: 1px solid black;

    }
    #{&}-border_bottom{
        border-bottom:1px solid black;

    }

}

.product-info{
    display:flex;
    flex-direction: column;
    font-size: $font-size-xs;
    font-weight: $font-weight-light;

    @include xs{
        padding: $space-xs $space-xxs;
    }
    @include lg{
        padding: $space-sm $space-xs;
    }
    
    #{&}__main-info{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }

    #{&}__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #{&}__wishlist{

        @include xs{
            height: 16px;
            width: 16px;
        }
        margin: 0 5px;
    }
    #{&}__wishlist-icon{

        @include xs{
            height: 16px;
            width: 16px;
        }
        @include lg{
            height: 20px;
            width: 20px;
        }

        &:hover{
            cursor: pointer;
        }
    }


    #{&}-price{
        margin:0;
        margin-top: $space-xxs;

    }
}

.warningMessage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgba(59, 47, 47, 0.9);
    padding: 10px;
    color:rgba(59, 47, 47, 0.9);
    z-index: 9999;
}