$layout-header-logo-height:80px;
$layout-header-logo-width:172px;
$layout-header-height:101px;
$layout-header-height-xs:44px;

$layout-cart-footer-height-checkout-xs:40px;
$layout-cart-footer-height-checkout-md:70px;

$primary:blue;
$secondary:rgb(0, 255, 195);
$error:red;

//spacing
$base-padding: 0.75rem;
$base-margin:0.75rem;

//margins
$margin-xxs:$base-margin;
$margin-xs:2 * $base-margin;
$margin-sm:3 * $base-margin;
$margin-lg:4 * $base-margin;
$margin-xl:6 * $base-margin;
$margin-xxl:8 * $base-margin;
$margin-xxxl:10 * $base-margin;


//borders
$base-border-thickness:1px;
$base-border-radius:20px;

//box-shadow
$base-box-shadow:1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size:1rem;
$font-size-xxxs:$base-font-size * 0.55;
$font-size-xxs:$base-font-size * 0.65;
$font-size-xs:$base-font-size * 0.75;
$font-size-sm:$base-font-size * 0.85;
$font-size-md:$base-font-size ;
$font-size-lg:$base-font-size * 1.15;
$font-size-xl:$base-font-size * 1.35;
$font-size-xxl:$base-font-size * 1.55;
$font-size-xxxl:$base-font-size * 2;

//font weight
$font-weight-light:300;
$font-weight-regular:normal;
$font-weight-medium:500;
$font-weight-bold:bold;

//spacing
$base-spacing:16px;
$space-xxs:$base-spacing * 0.25;
$space-xs:$base-spacing*0.50;
$space-sm:$base-spacing*0.75;
$space-md:$base-spacing;
$space-lg:$base-spacing*1.25;
$space-xl:$base-spacing*1.5;
$space-xxl:$base-spacing*1.75;
$space-xxxl:$base-spacing*2;


//color palette
$colors:(
    "primary": $primary,
    "secondary" : $secondary,
    "error":$error,
    "blue":blue,
    "yellow":yellow,
    "green":green,
    "white":white,
    "black":black,
    "purple":purple,
    "orange":orange,
)

